body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}
main{
    margin-bottom: 30px;
}
.header{
    margin: 100px 0px 8px 0;
}
.h3 {
    margin-top: 30px;
}
.header span {
    font-size: .5em;
}

.row col-md-4{
    margin-bottom: 10px;
}
.text-muted {
    margin-top: 10px; 
    background-color:#F8F9FB;
    height: 30px;
}
.text-muted p {
    text-align: right;
    vertical-align: center;
   padding: 5px 0;
}
.text-muted p span {
    color: #000;
}
#muted{
    background-color:white
}

.form-control{
    width: 100%;
}
.form-select{
    height: 38px;
    width: 100%;
}
.form-select {
    padding: 6px 12px;
}

ul li {
    list-style: none;
}
#comments {
    padding-left: 50px;
    
}